{
    "trailingComma": "es5",
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "bracketSameLine": true,
    "printWidth": 80,
    "plugins": ["@prettier/plugin-php"],
    "phpVersion": "8.2",
    "parser": "php"
}